﻿
@{
    Layout = "~/Views/Share/_Layout.cshtml";
    ViewBag.Title = "Quangcao";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quangcao</title>
</head>
<body>
    <h1>Hello word</h1>
</body>
</html>
